body {
    background-color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: #232222;
}
    
h1, h2, h3 {
    line-height: 1.3;
}
h1 {
    font-size: 2.75em;
    font-weight: 700;

}
h2 {
    font-size: 2.25em;
    font-weight: 700;
}
h3 { 
    font-size: 1.75em;
    font-weight: 400;
}
img{
    max-width: 100%;
    height: auto;
}
a { 
    font-size: 20px;
    text-decoration: none;
}
a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: underline;
}
a:active {
    color: green;
    text-decoration: underline;
}

a:hover, 
a:focus {
    color: purple;
    text-decoration: underline;
}

.button {
    display: inline-block;
    background-color: blue;
    color: whitesmoke;
    font-size: 16px;
    padding: 10px 20px;
}
.button:hover {
    background-color: blue;
    opacity: 0.6;
    text-decoration: none;
    color: whitesmoke;
}
.button:active {
    background-color: blue;
    color: whitesmoke;
}

.button:focus {
    background-color: blue;
    color: whitesmoke;
}

.button-cv {
    display: inline-block;
    background-color: red;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
}
.button-cv:hover {
    background-color: red;
    opacity: 0.6;
    text-decoration: none;
    color: whitesmoke;
}
.button-cv:active {
    background-color: red;
    color: whitesmoke;
}

.button-cv:focus {
    background-color: blue;
    color: whitesmoke;
}
.button-email {
    display: inline-block;
    background-color: orange;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
}
.button-email:hover {
    background-color: orange;
    opacity: 0.6;
    text-decoration: none;
    color: whitesmoke;
}
.button-email:active {
    background-color: orange;
    color: whitesmoke;
}

.button-email:focus {
    background-color: blue;
    color: whitesmoke;
}

.button-prototype {
    position: relative;
    display: inline-block;
}

.button-prototype {
    position: relative;
    display: inline-block;
    color: black;
    font-size:1.5em;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: 700;
}