header {
    background-color: #B2AC88
}
body {
    background-color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: #232222;
}
    
h1, h2, h3 {
    line-height: 1.3;
}
h1 {
    font-size: 2.75em;
    font-weight: 700;

}
h2 {
    font-size: 2.25em;
    font-weight: 700;
}
h3 { 
    font-size: 1.75em;
    font-weight: 400;
}
img{
    max-width: 100%;
}
/* Brand colors 
Primary color: #748283
Secondary color: #7E837E
Terciary/acent color: #646161
Dark neutral color: #233251222
Light neutral color: #252252251
*/
a { 
    color: #748283;
    text-decoration: none;
}
a:visited {
    color:  #748283;
    text-decoration: none;
}
a:hover, 
a:focus {
    color: purple;
    text-decoration: none;
}
a:active {
    color: green;
    text-decoration: none;
}
.button {
    display: inline-block;
    background-color: #7E837E;
    color: whitesmoke;
    font-size: 16px;
    padding: 10px 20px;
}
.button:visited {
    display: inline-block;
    background-color: #7E837E;
    color: whitesmoke;
    font-size: 16px;
    padding: 10px 20px;
}
.button:hover {
    background-color: #7E837E;
    opacity: 0.6;
    text-decoration: none;
    color: whitesmoke;
}
.button:focus {
    background-color: #7E837E;
    color: whitesmoke;
}
.button:active {
    background-color: #7E837E;
    color: whitesmoke;
}

.button-cv {
    display: inline-block;
    background-color: #7E837E;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
}
.button-cv:hover {
    background-color: #7E837E;
    opacity: 0.6;
    text-decoration: none;
    color: whitesmoke;
}
.button-cv:focus {
    background-color: #7E837E;
    color: whitesmoke;
}
.button-cv:active {
    background-color: #7E837E;
    color: whitesmoke;
}


.button-email {
    display: inline-block;
    background-color: #7E837E;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
}
.button-email:hover {
    background-color: #7E837E;
    opacity: 0.6;
    text-decoration: none;
    color: whitesmoke;
}

.button-email:focus {
    background-color: #7E837E;
    color: whitesmoke;
}
.button-email:active {
    background-color: #7E837E;
    color: whitesmoke;
}

.button-prototype {
    position: relative;
    display: inline-block;
}

.button-prototype {
    position: relative;
    display: inline-block;
    color: black;
    font-size:1.5em;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: 700;
}
