header {
    background-color: #A52A2A;
    padding: 10px 0px;
    border-bottom: 3px solid #7E837E;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
}

* {
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    color: #232222;
}

main {
    padding-top: 114.44px;
}

footer {
    background-color: #B2AC88;
    text-align: center;
    padding: 20px 0px 20px 0px;
    width: 100%;
}

h1,
h2,
h3 {
    line-height: 1.3;
}

h1 {
    font-size: 2.75em;
    font-weight: 700;
    text-align: center;
}

h2 {
    font-size: 2.25em;
    font-weight: 700;
}

h3 {
    font-size: 1.75em;
    font-weight: 400;
}

img {
    width: 100%;
}

/* Brand colors 
Primary color: #748283
Secondary color: #7E837E
Terciary/acent color: #646161
Dark neutral color: #233251222
Light neutral color: #252252251
*/
a {
    color: whitesmoke;
}

a:visited {
    color: whitesmoke;
    text-decoration: none;
}

a:hover,
a:focus {
    color: yellowgreen;
    text-decoration: none;
}

a:active {
    color: green;
    text-decoration: none;
}

.button {
    display: inline-block;
    background-color: #A52A2A;
    color: whitesmoke;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 20px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 1px solid black;
    transition-duration: 0.2s;
    transition-property: opacity;
    text-decoration: none;
}

.button:visited {
    display: inline-block;
    background-color: #7E837E;
    color: whitesmoke;
    font-size: 16px;
    padding: 10px 20px;
}

.button:hover {
    background-color: #7E837E;
    opacity: 0.6;
    text-decoration: none;
    color: whitesmoke;
}

.button:focus {
    background-color: #7E837E;
    color: whitesmoke;
}

.button:active {
    background-color: #7E837E;
    color: whitesmoke;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* Layout styling */

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.icon {
    color: whitesmoke
}

#work .row {
    width: 100%;
    margin: 25px 0;
    border-bottom: 1px solid #7E837E;
    padding-bottom: 20px
}

#work .row:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

#hero {
    background-color: white;
    padding: 20px 0px;
    display: inline-block;
    width: 100%;

}

#hero h1 {
    text-align: center;
}

#hero span {
    display: block;
    font-size: 60%;
    margin-top: 1em;
}

.logo {
    display: inline-block;
    max-width: 150px;
    width: 80px;
}

nav>ul>li>a {
    padding: 10px 20px;
    color: #748283;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

.social {
    background-color: #B2AC88;
    text-align: center;
    padding: 20px 0px;
    display: inline-block;
    width: 100%;
}

/* about styling */

#about-title {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 10px;
    margin: 10px auto;
}

#about-hero .row {
    background-color: white;
    padding: 20px 0px;
    display: inline-block;
    width: 100%;
}

#about-hero .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.me-img {
    display: block;
    border-radius: 120px;
    width: 60%;
    margin: auto;
}

#about-hero h3 {
    margin-top: 0;
}

#about-hero img {
    width: 100%;
    max-width: 400px;
}

/* project styling */

#obol-title h1 {
    display: inline-block;
    width: 100%;
    height: 20px;
    padding: 10px 20px;
    text-align: center;
}

.intro-img {
    width: 100%;
    padding: 20px 0px;
}

.timeline-img {
    width: 100%;
    padding: 20px 0px;
}

.paypal-img {
    width: 100%;
    padding: 20px 0px;
}

.google-img {
    width: 100%;
    padding: 20px 0px;
}

.maria-img {
    width: 100%;
    padding: 20px 0px;
}

.stefan-img {
    width: 100%;
    padding: 20px 0px;
}

.m-userflow-img {
    width: 100%;
    padding: 20px 0px;
}

.s-userflow-img {
    width: 100%;
    padding: 20px 0px;
}

.smerchant-img {
    width: 100%;
    padding: 20px 0px;
}

.sbites-img {
    width: 100%;
    padding: 20px 0px;
}

.sinvestment-img {
    width: 100%;
    padding: 20px 0px;
}

.icons-img {
    width: 100%;
    padding: 20px 0px;
}

.illustrations-img {
    width: 100%;
    padding: 20px 0px;
}

.elements-img {
    width: 100%;
    padding: 20px 0px;
}

#navigation .img {
    padding: 20px 0px;
}

#prototype .container {
    display: inline-block;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-img {
    width: 50%;
    max-width: 200px;
    height: auto;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

#scroll-to-top-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

/* animation styling */

#about-picture .svg {
    width: 100%;
    max-width: 400px;
    height: auto;
    float: left;
}

@keyframes color-change {
    from {
        fill: #edc655;
    }

    to {
        fill: #f76414;
    }
}

.sun {
    animation: 2s color-change infinite alternate linear;
    /* animation schema 
    animation-duration: 2s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    */
}

@keyframes cloud-move {
    from {
        transform: translate(0, 50px);
    }

    to {
        transform: translate(200px, 50px)
    }
}

.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px)
    }

    to {
        transform: translate(100px, 48px)
    }
}

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear
}

#animation-main main {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(45deg, #67869b, #30D5C8);
    background-size: 200% 200%;
    animation: animation 15s ease infinite;

}

#not-found body {
    background-color: #178b28;
    background: radial-gradient(at 50% -20%, #908392, #139024) fixed;
}


#handboy {
    animation: swing ease-in-out 1.3s infinite alternate;
    transform-origin: 98% 98%;
    transform-box: fill-box;

}


#girllight {
    animation: swing ease-in-out 1.3s infinite alternate;
    transform-origin: 0% 97%;
    transform-box: fill-box;
}

#hairgirl {
    animation: swinghair ease-in-out 1.3s infinite alternate;
    transform-origin: 60% 0%;
    transform-box: fill-box;

}

#zero {
    transform-origin: bottom;
    transform-box: fill-box;

}

@keyframes swing {
    0% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(-10deg);
    }
}

@keyframes swinghair {
    0% {
        transform: rotate(6deg);
    }

    100% {
        transform: rotate(-6deg);
    }
}

@keyframes animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.navtoggle li:not(:last-child) {
    display: none;
}

.navtoggle {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.navtoggle.responsive nav {
    padding: 24px 0 0;
    width: 100%;
}

.navtoggle.responsive li {
    display: block;
    padding: 10px 0;
    border-top: 1px solid rgba(255, 127, 80, 0.5);
}

.navtoggle.responsive li:last-child {
    padding: 0 0 10px;
}

.navtoggle li .icon {
    position: absolute;
    right: 0px;
    top: 24px
}

nav>ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-direction: row;
}

/* Medium devices (640px and larger) */
@media only screen and (min-width: 640px) {
    header .container {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    main {
        padding-top: 104.94
    }

    #work .row {
        display: flex;
        gap: 2em;
    }

    #work .column {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .col-md-6 {
        width: 100%;
    }

    .logo {
        min-width: 80px;
    }

    .navtoggle li:not(:last-child) {
        display: inline-block;
    }

    .navtoggle li:last-child {
        display: none;
    }

    .navtoggle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav ul {
        flex-direction: row;
    }

    #ideation .picture {
        display: flex;
        overflow: overlay;
    }

    .swot {
        display: flex;
        overflow: overlay;
    }

    .persona {
        display: flex;
        overflow: overlay;
    }

    .userflow {
        display: flex;
        overflow: overlay;
    }

    /* [class*="col-"] {
        float: left;
        padding: 0 10px 0 10px;
      }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }
          */

    #prototype .container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        gap: 1em;
        padding: 20px;
    }
}

/* Large devices (1024px and larger) */
@media only screen and (min-width: 1024px) {
    header {
        font-size: 24px;
    }

    nav {
        margin-top: 10px;
    }

    main {
        padding-top: 113.94px;
    }

    .col-lg-7 {
        width: 100%;
    }

    .col-lg-5 {
        width: 100%;
    }

    #about-hero .row {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: baseline;
    }

    #about-hero .row-2 {
        display: flex;
        gap: 2em;
    }

    nav>ul>li>a:hover::before,
    nav>ul>li>a:hover::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        opacity: 1;
        background-color: #748283;
        transition: all 0.3s ease-in-out;
    }

    nav>ul>li>a:before {
        top: 0px;
        left: 0px;
    }

    nav>ul>li>a:after {
        bottom: 0px;
        right: 0px;
    }

    nav>ul>li>a:hover::before,
    nav>ul>li>a:hover::after {
        width: 100%;
    }

    .intro-img {
        padding: 20px 0px;
    }

    #user-persona .column-img {
        display: flex;
        flex-direction: row;
        align-content: center;
        flex-wrap: nowrap;
        width: 50%;
        height: 50%;
    }

    #user-persona .column-userflow {
        display: flex;
        flex-direction: row;
        align-content: center;
        flex-wrap: nowrap;
        width: 50%;
        height: 50%;
    }

    #ui-elements .picture {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10em;
    }

    #navigation .col-img {
        max-width: 100px;
        display: flex;
        gap: 2em;

    }

    #navigation .column {
        width: 70%;
    }

    #navigation .row {
        display: flex;
        gap: 2em;
        flex-direction: row;
        align-items: flex-start
    }

    #navigation .column {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }


}

/*x-large devices (1440px and larger) */
@media only screen and (min-width: 1440px) {
    header {
        font-size: 30px;
    }

    nav {
        margin-top: 20px;
    }

    .col-md-7 {
        width: 70%;
    }
}